@using System.Web.Mvc;
@{
    Script.Require("jQuery").AtHead();
    Script.Include("sprintf.js").AtHead();
    Script.Require("AngularJs").AtHead();
    Script.Include("facebookConnect.js").AtHead();//with name and path
    Script.Include("facebookLogInController.js").AtHead();//with name and path

    WorkContext.Layout.Head.Add(New.FacebookSdk(), "1");
}


<div ng-app="facebookConnect">
    <div ng-controller="facebookLogInController as vm">

        <a  ng-if="!vm.isLogIn" href="">connect with facebook</a>

        <a ng-if="vm.isLogIn" href="">profile</a>

    </div>
</div>


@*@if (Request.IsAuthenticated)*@
@*{*@
@*   $1$ @T("Connected with Facebook, fb_<strong>{0}</strong>!", WorkContext.CurrentUser.UserName)#1#*@
@*}*@
@*else*@
@*{ *@
@*$1$    <span class="login">@T("*If you don't have an account here yet, you'd be redirected to registration form.")</span>#1#*@
@*}*@
