@using System.Web.Mvc;
@{
    //add style sheet
    Style.Require("Bootstrap").AtHead();
    Style.Include("facebookConnectStyle.css").AtHead();
    Style.Include("css/test.css").AtHead();

    //add javascript
    Script.Require("jQuery").AtHead();
    Script.Require("Bootstrap").AtHead();
    Script.Require("AngularJs").AtHead();

    Script.Include("sprintf.js").AtHead();
    Script.Include("facebookConnect.js").AtHead();//with name and path
    Script.Include("facebookLogInController.js").AtHead();//with name and path
    Script.Include("facebookService.js").AtHead();//with name and path

    WorkContext.Layout.AfterBody.Add(New.FacebookSdk(), "1");
}

@if (WorkContext.CurrentUser != null)
{
    <h1>@T("Hello {0}", WorkContext.CurrentUser.UserName)</h1>
}
else
{
    <div ng-app="facebookConnect">
        <div ng-controller="facebookLogInController as vm">
            <a ng-click="vm.logIn()" href="">connect with facebook</a>
            @*<a ng-class="!vm.isLogIn? 'show':'hidden'" ng-click="vm.logIn()" href="">connect with facebook</a>
                <a ng-class="vm.isLogIn? 'show':'hidden'" href="">profile</a>*@

        </div>
    </div>
}


@*@if (Request.IsAuthenticated)*@
@*{*@
@*   $1$ @T("Connected with Facebook, fb_<strong>{0}</strong>!", WorkContext.CurrentUser.UserName)#1#*@
@*}*@
@*else*@
@*{ *@
@*$1$    <span class="login">@T("*If you don't have an account here yet, you'd be redirected to registration form.")</span>#1#*@
@*}*@
