@using CodeSanook.Comment.Models;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@using Orchard.Core.Common.Models;
@using System.Linq;
@{ 
    var commentList = (List<ContentItem>)Model.CommentList;
}
 
@using (Html.BeginFormAntiForgeryPost(
    Url.Action("Create", "Comment",
    new { Area = "CodeSanook.Comment",
        ReturnUrl = Context.Request.ToUrlString() }), 
    FormMethod.Post, new { @class = "comment-form" }))
{
    @Display(Model.CommentShape)
    <button type="submit" class="btn btn-default">@T("Submit Comment")</button>
}

<h2> @commentList.Count() comments</h2>
<ul>
    @foreach (ContentItem comment in commentList)
    {
        var commentPart = comment.As<CommentPart>();
        var commonPart = comment.As<CommonPart>();
        <li>by @commonPart.Owner.UserName :@commentPart.CommentBody</li>
    }
</ul>